<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HOME</title>
    <link type="text/css" rel="stylesheet" href="style.css">
  </head>
  <body>
    <nav>
      <ul class="navbarlist">
        <li><a href="#">Home</a></li>
        <li><a href="#">All Dinos</a></li>
        <li><a href="#">New Dino</a></li>
      </ul>
    </nav>
    <%- body %>
  </body>
</html>
