<h1>Make new foo'</h1>

<form class="newform" action="/dinosaurs" method="post">
  <label for="dino-type">Type</label>
  <input type="text" name="type" id="dino-type" placeholder="T-Rex">

  <label for="dino-name">Name</label>
  <input type="text" name="name" id="dino-name" placeholder="T-Pain">
  
  <input type="submit" name="" value="Add That Dino!">
</form>
